h1{font-weight: 1000px;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 8rem;
    
    text-transform: capitalize;
    margin-bottom: 1rem;
   
    background: linear-gradient(to bottom,#f6f6f8,#f096968e,rgba(55, 79, 83, 0.217));
    -webkit-background-clip: text;

color: transparent;
} 
h2{
    font-size: 3rem;
}
body{
    background-image: url("https://img.freepik.com/free-vector/abstract-business-professional-background-banner-design-multipurpose_1340-16856.jpg");;
    color: white;
    text-transform: capitalize;
    width: 100%;
    
    }
#thumbnail{
   
  
       display:flex;
       justify-content:center;
      
       
       height:50vh;
        width: fit-content;
        border: rgb(122, 122, 122) 3px solid;
    
   
    box-shadow: rgba(255, 255, 255, 0.712) 0px 0px 10px 10px;
}
#about{
    color: rgba(255, 228, 196, 0.632);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
}
#contact{
    color:darkgray ;
}
   
   #email{
    color:rgb(51, 124, 164) ;
    font-size: medium;
   }
 
   #phone{
    color:rgb(51, 124, 164) ;
   }
 #skills{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    color: #9af17790;
 }
    
#name{
    color: rgba(241, 0, 0, 0.432);
}
